{{- define "main" -}}
    <style>
      /* .custom-thumbnail-image {background-image: none !important;} */
      .custom-thumbnail-image {background-image: url("/gallery/drawings/images/wow-much-stream.png") !important;}
    </style>
    <section id="content">
      <div class="boxes boxes-chat-hidden" style="grid-template-columns: auto;">
        <div class="box flex-rc">
          <div class="flex flex-cr items-center">
            <img src="/logo" style="border-radius: 100%; min-width: var(--user-image-width);width: var(--user-image-width);height: var(--user-image-width);max-height: var(--user-image-width); margin: 1rem" />
              <div>
                <h1 style="font-size: large" class="text-center">Streamer McStreamington</h1>
                {{ partial "social.html" (slice
                  "bandcamp https://bandcamp.com"
                  "codeberg https://codeberg.org"
                  "default https://example.com"
                  "devpost https://devpost.com"
                  "discord https://discord.com"
                  "donate https://streamelements.com/???/tip"
                  "drawception https://drawception.com"
                  "facebook https://facebook.com"
                  "follow https://example.com"
                  "freemusicarchive https://freemusicarchive.org/music/"
                  "github https://github.com"
                  "gitlab https://gitlab.com"
                  "google https://google.com"
                  "instagram https://instagram.com"
                  "instructables https://instructables.com"
                  "keyoxide https://keyoxide.org"
                  "ko-fi https://ko-fi.org"
                  "lbry https://lbry.tv"
                  "liberapay https://liberapay.com"
                  "lichess https://lichess.org"
                  "link https://example.com"
                  "linkedin https://www.linkedin.com"
                  "mastodon https://fosstodon.org"
                  "nethack https://alt.org/nethack/plr.php?player="
                  "odysee https://odysee.com"
                  "oshwlab https://oshwlab.com"
                  "patreon https://patreon.com"
                  "paypal https://paypal.com"
                  "peertube https://makertube.net"
                  "scratch https://scratch.mit.edu"
                  "snapchat https://www.snapchat.com"
                  "soundcloud https://soundcloud.com"
                  "sourcehut https://sourcehut.org"
                  "spotify https://www.spotify.com"
                  "steam https://store.steampowered.com"
                  "tiktok https://www.tiktok.com"
                  "twitch https://www.twitch.tv"
                  "twitter https://twitter.com"
                  "youtube https://youtube.com"
                ) }}
              </div>
          </div>
          <div class="user-content-header">
            <div class="my-4">
              <p>Hi, I'm streamer! I love streaming.</p>
              <p class="my-2">This site is also my livestream. When I go live, you will see my face in a video frame at the top of the page. :]</p>
              <div class="text-gray-600 my-2">#stream #streaming #livestreaming #streaming #live #broadcasting</div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxes boxes-chat-hidden">
        <div class="box">
          <h2>recent</h2>
          <img class="popup" style="width:30%; display:block; float: right; max-width: 300px; border-radius: 12px; margin: 5px" src="/gallery/drawings/images/wow-much-stream.png">
          <p>Recently, I have been streaming.</p>
          <form method="get" action="/"><button>see the stream</button></form>
        </div>

        <div class="box">
          <h2 id="drawings">drawings</h2>
          <img class="popup" src="/gallery/drawings/images/wow-much-stream.png" id="drawing" style="width:66%; display:block; float: right; border-radius: 12px; margin: 5px" alt="Draing of the Erasable Inc Improv Group at UMD and Friends">
          <p>I like drawing and of course I stream it, because I am streamer.</p>
          <form method="get" action="/gallery/drawings/"><button>see more</button></form>
        </div>

        <div class="box">
          <h2 id="blog">blog</h2>
          <p>There are many cool posts on my blog, such masterpieces as Post1, Post2, and even Post3.</p>
          <form method="get" action="/blog"><button>read more</button></form>
        </div>
      </div>
    </section>
{{- end -}}
